# Dependencias
node_modules/

# Compilación
dist/

# Variables de entorno
.env
.env.*
!.env.example

# Archivos temporales y registros
*.log

# Angular
.angular/
coverage/

# Sistema operativo
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/